@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  font-size: 1.4rem;
}

html {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('PaperBG.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(45%);
  z-index: -1;
}

body {
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}

.text {
  position: relative;
  z-index: 999;
  flex-wrap: wrap;
  margin-left: 15px;
 
}



